* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0px;
}

.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    flex: 1;
}

.welcome-container {
    display: flex;
    padding: 80px 0px;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
}

.welcome-text {
    padding-right: 20px;
    flex-basis: 350px;
}

.welcome-text h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}


a, .welcome-text p {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    padding: 10px;
}

.sign-up {
    background-color: #3882F6;
    color:#F9FAF8;
    text-align: center;
    border: none;
    padding: 5px 20px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.pattern-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pattern-container h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    
}

.patterns {
    display: flex;
    color: #1F2937;
    justify-content: center;
    margin: 32px;
    gap: 52px;
    flex-wrap: wrap;
}

.single-pattern {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.single-pattern img {
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 8px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
}

.quote-content .quote-attribution {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
}