* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Helvetica, sans-serif;
}

.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.welcome-container {
    display: flex;
}

.welcome-text h1{
    font-size: 48px;
    font-weight: 900;
}

a, .welcome-text p {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.sign-up {
    background-color: #3882F6;
    color:#F9FAF8;
    text-align: center;
    border: none;
    padding: 5px 20px;
    font-size: 14px;
    margin: 5px;
    border-radius: 8px;
}